    body {
        font-family: 'Droid Arabic Kufi';
        direction: rtl;
        text-align: right;
        margin: 0;
        background-color: #800a0a;
    }
    
    .head {
        border-top: 0px solid #cdcdcd;
        background: rgba(0, 0, 0, 0) url(https://www.youm7.com/images/bg.png) repeat scroll center center;
        min-height: 60px;
    }
    
    header,
    .news {
        background-color: white;
    }
    
    .info,
    .menuone {
        width: 75%;
        width: 700px;
        margin: auto;
        max-width: 900px;
        overflow: hidden;
        text-align: right;
        display: flex;
    }
    
    .menuone li {
        background-color: #3A3A3A;
        display: flex;
        width: 12.5%;
        overflow: hidden;
        text-align: center;
        padding-inline-start: 0px;
        float: none;
        clear: both;
    }
    
    .menuone li a {
        color: white;
        text-decoration: none;
    }
    
    .menuone li a:hover {
        color: red;
    }
    
    .menuone .more ul {
        left: inherit!important;
        width: 180px !important;
        background-color: #3A3A3A;
        list-style: none;
        display: none;
        margin-top: 25px;
    }
    
    .menuone .more li {
        min-width: 200px !important;
        clear: both !important;
        float: none !important;
    }
    
    .tomore {
        display: block;
        height: 25px;
        padding-top: 0 !important;
    }
    
    .more:hover ul {
        display: block;
        position: absolute;
        z-index: 2000000000000;
    }
    
    .secoflogo {
        width: 80%;
        width: 750px;
        margin: auto;
        max-width: 900px;
        overflow: hidden;
        text-align: right;
    }
    
    .containeroflogo {
        display: inline-flex;
    }
    
    .photologo {
        margin-top: 25px;
    }
    
    .photocon {
        margin-right: 10px;
    }
    
    .containerone {
        display: flex;
        width: 100%;
        height: 35px;
        text-align: center;
        background-color: #3A3A3A;
    }
    
    .title li {
        background-color: #3A3A3A;
        display: inline-table;
        width: 12%;
        overflow: hidden;
        text-align: center;
        padding-inline-start: 0px;
        float: none;
        clear: both;
    }
    
    .containerb {
        display: flex;
        background-color: #3A3A3A;
    }
    
    .ticker,
    .search,
    .title {
        width: 50%;
    }
    
    .title-container {
        width: 100%;
        display: flex;
    }
    
    .tickersIco,
    .Ico {
        width: 25%;
    }
    
    .search form,
    .group {
        display: flex;
        width: 100%;
    }
    
    .buttunsearch {
        width: 25%;
    }
    
    .search2 {
        width: 75%;
        border-radius: 5px;
    }
    
    .empty:empty {
        background-color: #eee;
        width: 80%;
        height: 80px;
        margin: auto;
    }
    
    .news {
        width: 80%;
        margin: auto;
        display: flex;
    }
    
    .right-Content {
        margin-right: 5px;
        display: flex;
        width: 60%;
        margin-left: 5px;
        margin-top: 10px;
    }
    
    .left-Content {
        display: flex;
        width: 40%;
        margin-right: 5px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .container {
        width: 100%;
        padding: 0px;
        max-width: 960px;
        max-width: 570px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .img,
    .pic {
        width: 100%;
    }
    
    .titleimgone,
    .titleimg,
    .titletwo,
    .titletwoo {
        width: 100%;
        background-color: #eee;
    }
    
    .titleimgone,
    .titleimg {
        margin-top: 2px;
    }
    
    .titleimgone h3 a,
    .titletwo h3 a {
        color: red;
    }
    
    .titleimg h3 a,
    .titletwoo h3 a {
        color: black;
    }
    
    .titleimgone h3 a,
    .titleimg h3 a,
    .titletwo h3 a,
    .titletwoo h3 a {
        line-break: anywhere;
        text-decoration: none;
    }
    
    .titleimgone h3 :hover,
    .titleimg h3 :hover,
    .titletwo h3 :hover,
    .titletwoo h3 :hover {
        line-break: anywhere;
        text-decoration: underline;
    }
    
    .row {
        margin: 0px;
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
        padding: 0px;
    }
    
    hr {
        color: white;
        margin: 2px;
    }
    
    .right-Content h2 {
        background: #5D5D5D;
        margin: 0px;
        padding: 6px 10px;
        color: #FFF;
        border-right: 10px solid #8e8e8e;
    }
    
    .maintitltwo h3 {
        background: #e40c0c;
        margin: 0px;
        padding: 6px 10px;
        color: #FFF;
    }
    
    .right-Content h2 a:hover,
    .left-Content h2 a:hover {
        background-image: url("https://img.youm7.com/images/general/titleHBG.gif?1");
        background-position: left center;
        background-repeat: no-repeat;
    }
    
    .right-Content h2 a,
    .left-Content h2 a {
        font-family: 'Droid Arabic Kufi', Tahoma;
        font-size: 12px;
        color: #FFF;
        display: block;
        font-weight: bold;
    }
    
    .right-Content .bigsec {
        margin-top: 0px;
    }
    
    .bigsec {
        padding: 10px;
        background: #F0F0F0;
        min-height: 160px;
        border-bottom: 2px solid #FFF;
    }
    
    .bigsec:hover {
        background: #D7D7D7;
    }
    
    .bigsecImg {
        float: right;
    }
    
    .bigsecImg img {
        border: 1px solid #999;
        max-width: 170px;
        max-height: 130px;
        margin-left: 10px;
    }
    
    .bigsec h3 {
        line-height: 20px;
        text-align: right;
        margin: 0px;
        padding: 0px;
    }
    
    .bigsec h3 a {
        font-family: ;
        color: #df2829;
        text-align: right;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    
    .bigsec:first-of-type h3 a {
        font-size: 23px;
        line-height: 28px;
    }
    
    .bigsec h3 a:hover {
        text-decoration: underline;
    }
    
    .bigsec h4 a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #999;
    }
    
    .secone,
    .sec,
    .Writer {
        visibility: visible;
        height: 230px;
        padding: 15px;
        background: #F0F0F0;
        border-bottom: 2px solid FF
    }
    
    .margin-top {
        visibility: visible;
        background: #F0F0F0;
        border-bottom: 2px solid F
    }
    
    .titleimg:hover,
    .titleimgone:hover {
        background: #DCDCDC;
    }
    
    .bigsecImg {
        float: right;
    }
    
    .topTop {
        z-index: 9999999;
        max-width: 60px;
        position: fixed;
        right: 2%;
        bottom: 2%;
        display: block;
    }
    
    .footer {
        background: #3A3A3A;
        padding: 5px 15px 15px;
        display: flex;
    }
    
    .containerfoot {
        width: 100%;
        padding: 0px;
        max-width: 960px;
        display: flex;
    }
    
    .footermenu {
        width: 66.66666%;
        float: right;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
    }
    
    .footerMenu ul {
        padding: 12px;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .footerMenu li {
        float: right;
        width: 33%;
        margin-top: 3px;
        list-style: none;
        display: flex;
    }
    
    .footerMenu li a {
        text-decoration: none;
        color: white;
    }
    
    .footerMenu li a :hover {
        text-decoration: none;
        color: red;
    }
    
    .empty2 {
        background: #2D2D2D;
        padding: 15px;
        height: 80px
    }
    
    .socialfooter {
        border-right: 1px solid black;
        margin-top: 20px;
        width: 33.333333%;
        float: right;
    }
    
    .footer-logo {
        margin: inherit;
        margin-right: 25px;
        display: block;
        max-width: 206px;
    }
    
    .footer-logo a {
        color: #428bca;
        text-decoration: none;
    }
    
    .img-responsive2 {
        border-radius: 20px;
    }
    
    .newFooterMenu {
        text-align: center;
    }
    
    .newFooterMenu a {
        color: white;
        text-decoration: none;
        font-size: large;
    }
    
    .newFooterMenu a:hover {
        color: red;
        text-decoration: none;
    }